.custom_form{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 80px 50px;
}

.custom_form form{
    flex: 1;
    background-color: #f7f7f7;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
}

.custom_form form h2{
    font-weight: 400;
    font-size: 32px;
}